html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

header {
  height: 60px;
  width: 100%;
  background-color: #39A136;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  padding: 3%; 
  margin: 0; 
  box-sizing: border-box;
  display: flex;
  align-items: center; 
  justify-content: center;
  
}
.header-sign {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #fff; /* Color del texto del letrero */
  font-size: 1.5rem; /* Tamaño de fuente del letrero */
  font-weight: bold; /* Peso de la fuente del letrero */
}

header img {
  max-width: 100%;
  height: auto;
  display: block; 
}

/* Media queries para ajustar el diseño en dispositivos móviles */
@media (max-width: 768px) {
  header {
    padding: 10px; /* Ajusta el padding para pantallas más pequeñas si es necesario */
  }

  header img {
    width: 100px; /* Ajusta el tamaño de la imagen para pantallas más pequeñas */
  }
}

@media (max-width: 480px) {
  header {
    padding: 8px; /* Ajusta el padding para pantallas aún más pequeñas si es necesario */
  }

  header img {
    width: 80px; /* Ajusta el tamaño de la imagen para pantallas pequeñas */
  }
}

main {
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  padding: 10px;
  box-sizing: border-box;
  overflow: auto; 
  position: relative; /* Asegura que el botón se posicione en relación con el contenedor main */
  padding-top: 50px; 
}



.bar {
  background-color: white; 
  height: 10px; 
  width: 60px; 
  margin: 4px 0;
  border-radius: 2px; /* Opcional: para esquinas redondeadas en las barras */
}


/* Estilo del menú desplegable */
.dropdown {
  position: fixed; /* Fija el menú desplegable en la ventana */
  top: 5px;
  right: 5px;
  display: inline-block;
  z-index: 1500; /* Asegura que esté sobre otros elementos */
}

.dropdown-button {
  background-color: #39A136; /* Color de fondo */
  border: none;
  color: white; /* Color del texto */
  cursor: pointer;
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 5px; /* Esquinas redondeadas */
  font-size: 16px; /* Tamaño de fuente */
  font-weight: bold; /* Negrita */
  transition: background-color 0.3s, transform 0.3s; 
  width: auto; 
  box-sizing: border-box;
  margin-bottom: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%; 
  right: 0; 
  background-color: white; 
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2); 
  z-index: 1500; 
  width: 300px; 
  border-radius: 20px; 
  border: 5px solid #39A136; 
  box-sizing: border-box;
  padding: 10px 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Estilo para los botones dentro del dropdown */
.dropdown-content button {
  background-color: #39A136; 
  border: none;
  color: white; 
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px; 
  font-size: 16px; 
  font-weight: bold; 
  margin: 10px 0; 
  transition: background-color 0.3s, box-shadow 0.3s; 
  width: calc(100% - 20px); 
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.3); 
}

.dropdown-content button:hover {
  background-color: #2d8f2d; 
  box-shadow: 0px 6px 12px rgba(0,0,0,0.4); 
}


#read-content-btn {
  display: none;
}


/* Ajuste del formulario dentro del dropdown-content */
.todo-form {
  display: flex;
  align-items: center; 
  padding: 10px; 
  box-sizing: border-box; 
}

/* ---- BOARD ---- */
.lanes {
  display: flex;
  flex-direction: row; 
  align-items: flex-start;
  justify-content: flex-start; 
  gap: 16px;
  padding: 24px 0; 
  overflow: auto; 
  flex: 1; 
  position: absolute; 
  top: 50px; 
  left: 10px; 
  display: flex; 
  gap: 20px; 
}

#lanes-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Crea una cuadrícula de 5 columnas */
  gap: 16px; /* Espacio entre los swim-lanes */
  width: 100%;
  max-width: 100%; /* Asegura que el contenedor no exceda el ancho del viewport */
  box-sizing: border-box;
  margin: 0 auto; /* Centra la cuadrícula */
}

.swim-lane {
  position: relative; /* Habilita el posicionamiento absoluto dentro del swim-lane */
  border: 1px solid #ddd;
  padding: 20px; /* Ajusta el padding según tus necesidades */
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 225px; /* Ajusta el ancho según tus necesidades */
  min-height: 120px; /* Ajusta la altura mínima según tus necesidades */
  flex-shrink: 0;
}

.heading {
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.remove-swim-lane-btn {
  position: absolute; /* Posiciona el botón de forma absoluta dentro del swim-lane */
  top: 10px; /* Espacio desde el borde superior del swim-lane */
  right: 10px; /* Espacio desde el borde derecho del swim-lane */
  background-color: #ddd;
  color: black;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 10; /* Asegura que el botón esté encima de otros elementos */
}

#add-swim-lane-btn {
  position: absolute; 
  top: 10px; 
  left: 10px; 
  z-index: 1000; 
  padding: 10px 20px; 
  background-color: #39A136; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

#add-swim-lane-btn:hover {
  background-color: #687068 ; /* Cambia el color de fondo al pasar el ratón */
}

.swim-lane {
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  padding: 50px;
  border-radius: 10px;
  width: 225px;
  min-height: 120px;
  flex-shrink: 0;
  transition: background-color 0.3s ease; /* Para una transición suave del color */
}

.color-1 { background-color: rgb(223, 220, 67); } 
.color-2 { background-color: rgb(180, 220, 100); } 
.color-3 { background-color: rgb(233, 135, 70); } 
.color-4 { background-color: rgb(165, 240, 184); } 
.color-5 { background-color: rgb(183, 196, 66); } 


.task {
  background: white;
  color: black;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  padding: 12px;
  border-radius: 4px;
  font-size: 16px;
  cursor: move;
}

footer {
  width: 100%;
  color: white;
  background-color: #39A136;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.footer-imageceet {
  max-width: 300px;
  height: auto;
  margin: 10px;
}

.footer-imagesennova {
  max-width: 200px;
  height: auto;
  margin-left: 10px;
}

nav {
  text-align: center; /* Asegúrate de que el contenedor también esté centrado */
}
/* Estilo de los elementos del menú vertical */
.menu-vertical {
  list-style-type: none;
  padding: 0;
  margin: 0;

}

.menu-vertical li {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.menu-vertical a {
  text-decoration: none; /* Opcional: quita el subrayado de los enlaces */
  color: #000; /* Opcional: establece el color del texto */
}

.menu-vertical li {
  margin: 12px 0; /* Espaciado entre los elementos de la lista */
}

.menu-vertical li a:hover {
  background-color: rgb(80, 161, 80);
  color: black;
}
.menu-title {
  text-align: center; /* Centra el texto del título */
  margin: 0; /* Elimina el margen por defecto para una mejor alineación */
  
  }